<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:8810/"/>
    <add key="upgradeList" value="中间件程序升级包文件|/FileStore/MNodeUpgrade/;桌面程序升级包文件|/FileStore/ClientUpgrade/;Web程序升级包文件|/FileStore/WebUpgrade/;服务插件包文件|/FileStore/PluginUpgrade/"/>
  </appSettings>
</configuration>