<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_BaseService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" listenBacklog="200" maxConnections="1000">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession enabled="false" ordered="true" inactivityTimeout="00:10:00" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_FileService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MyBehavior" name="EFWCoreLib.WcfFrame.WcfHandler.RouterBaseService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BaseService" contract="EFWCoreLib.WcfFrame.WcfHandler.IRouterBaseHandler" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8813/RouterBaseService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MyBehavior" name="EFWCoreLib.WcfFrame.WcfHandler.RouterFileService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FileService" contract="EFWCoreLib.WcfFrame.WcfHandler.IRouterFileHandler" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8814/RouterFileService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\efwplusRoute.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>