<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiUri" value="http://localhost:8021"></add>
    <add key="nginx" value="true"/>
    <add key="mongodb" value="false"/>
    <add key="mongodb_binpath" value="C:\MongoDB\Server\3.2\bin"/>
    <add key="mongodb_dbpath" value=""/>
    <add key="mongodb_conn" value="mongodb://localhost:27017"/>
    <add key="FileStore" value="D:\efwplusProject\MicroCMIP\Output\FileStore"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_BaseService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None">
          </security>
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="NetTcpBinding_FileService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="wcfendpoint" address="net.tcp://127.0.0.1:8811/BaseService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BaseService" contract="EFWCoreLib.WcfFrame.WcfHandler.IClientHandler" />
      <endpoint name="fileendpoint" address="net.tcp://127.0.0.1:8812/FileService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FileService" contract="EFWCoreLib.WcfFrame.WcfHandler.IFileHandler" />
    </client>
  </system.serviceModel>
</configuration>